
<th:block th:include="header.html"></th:block>
<!-- About 1 - Bootstrap Brain Component -->
<section class="py-3 py-md-5">
	<div class="container">
		<div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
			<div class="col-12 col-lg-6 col-xl-5">
				<img class="img-fluid rounded" loading="lazy"
					src="https://nmamit.nitte.edu.in/img/home-admission-bg.png"
					alt="About 1">
			</div>
			<div class="col-12 col-lg-6 col-xl-7">
				<div class="row justify-content-xl-center">
					<div class="col-12 col-xl-11">
						<h2 class="mb-3">Who Are We?</h2>
						<p class="mb-3">
							<b>Nitte Mahalinga Adyantaya Memorial Institute of
								Technology(NMAMIT), Nitte,</b> established in 1986 and recognized by
							the All India Council for Technical Education, New Delhi, has
							been a constituent college of Nitte (Deemed to be University),
							Mangaluru,since June 2022. Rank band 101-150 in the National
							Institutional Ranking Framework (NIRF) 2023 by Ministry of
							Education, Government of India, the College has been placed under
							‘Platinum’ category for having high industry linkages by the
							AICTE-CII Survey of Industry-Linked Technical Institutes 2020.
							NMAMIT, the off-campus centre of Nitte DU located at Nitte
							village, has active collaborations with several international
							universities and organizations for faculty and student exchanges,
							research, internships and placements.
						</p>
						<p class="mb-5">NMAMITis located in a vibrant, serene and
							green campus at Nitte spread over 125 acres and is nestled in the
							Western Ghats of Southern India on the way to the Kudremukh
							ranges. The nearest airport is Mangaluru International Airport
							(45 km). The nearest railway stations are Udupi (40 km) and
							Mangaluru (50 km). Nitte is 19 km from NH-66 connecting Kochi
							(Kerala) and Panvel (Mumbai) and 7 km from NH-169 connecting
							Mangaluru and Solapur (Maharashtra).</p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<th:block th:include="footer.html"></th:block>