<th:block th:include="header.html"></th:block>
<br>
<br>
<div class="container">
	<div class="row">
		<div
			class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
			<h1 class="text-center">Edit Faculty</h1>
			<div class="card-body">
				<form th:action="@{/faculty/{id}(id=${faculty.id})}"
					th:object="${faculty}" method="POST">

					<div class="form-group">
						<label>Faculty Name</label> <input type="text" name="faculty_Name"
							th:field="*{faculty_Name}" class="form-control"
							placeholder="Enter Faculty Name" />
					</div>
					<div class="form-group">
						<label>Faculty Department</label> <select
							name="faculty_department" th:field="*{faculty_department}"
							class="form-control" onchange="fetchSubjects()" disabled>
							<option value="">Select Faculty Department</option>
							<option value="Mechanical">Mechanical</option>
							<option value="Electrical">Electrical</option>
							<option value="ElectronicAndCommunication">Electronic
								and Communication</option>
							<option value="IEEE">IEEE</option>
							<option value="AI&ML">AI &amp; ML</option>
						</select>
					</div>

					<div class="form-group">
						<label>Faculty Subject</label> <input type="text"
							name="faculty_subject" th:field="*{facultySubject}"
							class="form-control" readonly placeholder="Faculty Subject" />
					</div>


					<div class="form-group">
						<label>Faculty Gmail</label> <input type="text"
							name="faculty_gmail" th:field="*{facultyGmail}"
							class="form-control" placeholder="Enter Faculty Gmail" />
					</div>
					<div class="box-footer">
						<button type="submit" class="btn btn-primary btn-lg mb-3">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
